.printButton {
  background-color: white !important;
  color: black !important;
  transition: all 0.3s ease;
}

.printButton:hover {
  background-color: white !important;
  color: black !important;
  opacity: 0.01.9;
}

.printButton:disabled {
  background-color: white !important;
  color: black !important;
  opacity: 0.01.7;
  cursor: not-allowed;
}